@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* utility css */


.fadeOut {
  opacity: 0;
  /* pointer-events: none; */
  transition: opacity 0.2s cubic-bezier(0.8, 0.84, 0, 1.66);
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s cubic-bezier(0.8, 0.84, 0, 1.66) 0.3s;
}


/* main css */

* {
  margin: 0;
  padding: 0;
}


html,
body {
  overflow-x: hidden;
  /* Prevents horizontal scrolling */
  width: 100vw;
}


.main {
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1; /* Changed from -10 */
  position: relative;
}
.gradientBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(135deg, #000000, #777777); */
  background: linear-gradient(135deg,  #2bd37a, #004d40);
  /* background: linear-gradient(135deg,  #f0eee6, #f1b24a); */
 animation: gradientMove 8s infinite alternate ease-in-out;
  z-index: 1000; 
}

@keyframes gradientMove {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

@keyframes gradientAnimation {
  /* 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } */
}

.bubbles span {
  /* position: absolute;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  opacity: 0.5;
  animation: floatUp 10s infinite ease-in-out; */
  /* z-index: 1; */
}

/* .bubbles span:nth-child(1) { left: 10%; animation-duration: 6s; }
.bubbles span:nth-child(2) { left: 30%; animation-duration: 8s; }
.bubbles span:nth-child(3) { left: 50%; animation-duration: 7s; }
.bubbles span:nth-child(4) { left: 70%; animation-duration: 5s; }
.bubbles span:nth-child(5) { left: 90%; animation-duration: 9s; } */

@keyframes floatUp {
  /* 0% { transform: translateY(0); opacity: 0.5; }
  100% { transform: translateY(-100vh); opacity: 0; } */
}


.loadingPG {

  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 999;
  transition: opacity 1s ease-in-out;
}

.loadingLogo img {
  /* width: 120px;
  height: 120px; */
  /* background-size: cover; */

  z-index: 10000;
  position: absolute;
  top: 45vh;
  left: 45vw;
}


.mainPG {
  /* z-index: 1000; */
  /* background-color: #f9cb15; */
  position: relative;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(-45deg, #000000, #384039, #3b9063, #2bd37a);
  background-size: 300% 300%;
  animation: gradientAnimation 6s infinite linear;
  z-index: 1;

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  /* flex-direction: column; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 45px;

  /* background: rgba(0, 77, 64, 0.5); */
  /* Semi-transparent green */
  backdrop-filter: blur(20px);
  /* border-bottom-left-radius: 50px;  */
  /* border-bottom-right-radius: 50px; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3); */

  /* position: fixed; */
  width: 100vw;
  top: 0;
  /* margin:0 20px ; */
  position: relative;
  z-index: 10;


}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  
  gap: 10px;
  font-family: "Playwrite HU", cursive;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 10px #0000004a;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px #2bd3794e;
}





@keyframes fadeIn1 {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.accBtn {
  display: flex;
  gap: 10px;
}

.signUp {
  background-color: #f0eee6;
  color: #000000;
  font-weight: bold;

  border: none;
  outline: none;

  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 10;


}

.logIn {
  background-color: white;

  /* position: relative; */
  
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
gap: 6px;
  padding:0 15px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  /* background-color: #2bd37a;  */
  border: none;
  border-radius: 10px; /* Rounded edges */
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.mainContent {
  font-family: "Crimson Text", serif;
  /* font-family: "Roboto", sans-serif; */
  /* margin: 0px 30px; */
  /* background: linear-gradient(135deg, #004d40, #00796b, #004080, #001f3f); */
  /* background: radial-gradient(circle at 40% 30%, #0eb684, #054e37, #223226); */
  background-size: cover;
  background-color: #f0eee6;
  /* background-color: #2d2d2d; */
  /* background: linear-gradient(-45deg, #000000, #384039, #3b9063, #2bd37a); */
  /* border-radius: 8px; */
}

.headContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.headContainerName {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 18px;
  color: #000000;
}

.headContainerDes {
  font-weight: bold;
  background: linear-gradient(to bottom right, #2bd37a, #004d40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.headContainerDes>div {
  display: flex;
  justify-content: center;

}

.headContainerContent {

  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 19px;
}

.headContainerBtn {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
gap: 6px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  /* background-color: #2bd37a;  */
  border: none;
  border-radius: 10px; /* Rounded edges */
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to bottom right, #2bd37a, #004d40);

}

.headContainerBtn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
  background: #004d4041;
}

.headContainerBtn:hover::after {
  width: 100%;
}

.headContainerBtn:hover {
  color: white;
  transform: scale(1);
}




.firstContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-left: 90px;
  margin-top: 0px; 
  
 
  /* background-color: #b8af8c51; */
 
  /* background-color:#1ED760 ; */

  /* margin: 0px 20px; */
  
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100vw);

  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
pointer-events: all;
  }
}

.PScontainer {
  max-width: 750px;

border-radius: 50px;
padding: 30px;
  padding-left: 50px;
  background: linear-gradient(to bottom right, #2bd37a, #004d40);
}

.PS {
  font-size: 35px;
  font-weight: bold;
  color: #000000;
  background: linear-gradient(to bottom right, #f0eee6, #f1b24a);
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: slideInFromLeft 1s ease-out forwards;
}

.PScontent {
  font-size: 18px;
  margin: 20px 0;

  line-height: 1.5;
  opacity: 0;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
  padding-bottom: 20px;
}

.getStarted {
  
  background: linear-gradient(to bottom right, #f0eee6, #f1b24a);
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  
  border: none;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
 
  opacity: 0;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}

.getStarted::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #f1b24a;
  transition: width 0.3s;
  z-index: -1;
}

.getStarted:hover::after {
  width: 100%;
}

.getStarted:hover {
  color: rgb(250, 241, 241);
}



@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.PSimage {
  width: 450px;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #0056b3; */
  
}


.PSimage img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  /* animation: fadeIn 1s ease-out forwards; */
  animation: slideInFromRight 1.5s ease-out forwards;
}

.secondContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 30px;
margin-left: 70px;
margin-right: 30px;
gap: 100px;

}

.slider-container {
  position: relative;
  width: 60vw;
  height: 400px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  opacity: 0;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
}


.slider {
  display: flex;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
  width: 300%;
}

.slide {
  position: relative;
  min-width: 100%;
  height: 500px;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  border-radius: 20px;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px;
  transition: transform 1s ease-in-out;
  object-fit: contain;
}


.active img {
  transform: scale(1.05);
}


.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  font-family: 'Zen Dots', sans-serif;
  color: rgba(255, 255, 255, 0.08);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0;
  animation: fadeMove 4s infinite ease-in-out;
}

.dots-container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: white;
  transform: scale(1.2);
}


@keyframes fadeMove {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}

.infoContainer {
  padding-left: 30px;
  opacity: 0;

  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;

}

.infoContent {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.5;
  text-align: center;
}


.tutorial {

  /* border-radius: 20px;
  padding: 12px 20px;
  margin: 0 10px;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  z-index: 10;
  position: relative; */

  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 6px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  /* background-color: #2bd37a;  */
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to bottom right, #2bd37a, #004d40);

}




.tutorial::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
  background: #004d4041;
}

.tutorial:hover::after {
  width: 100%;
}

.tutorial:hover {
  color: white;
  transform: scale(1);
}


.learnMore{

  display: flex;
  justify-content: center; 
  align-items: center;
gap: 6px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  text-decoration: none;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
  transition: all 0.3s ease-in-out;
  background: transparent;

}

.learnMore::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  z-index: -1;
  background: #f1b14a;
  /* background: #0056b3; */
  /* box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2); */
}

.learnMore:hover::after {
  width: 100%;
}

.learnMore:hover {
  color: white;
  transform: scale(1);
}


.btnSec {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.thirdContainer {
  position: relative;
  width: 100vw;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;
  gap: 25px;
  /* background-color: #4CAF50; */
  /* background-image: url("./assets/crop1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* backgroundPosition: "top center" */
  background-position: bottom;
  padding-left: 190px;
  margin-top: 30px;

}

.firstSectionContent,
.secondSectionContent,
.thirdSectionContent {
  /* position: relative; */
  /* max-width: 500px; */
  max-width: 70vw;
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: linear-gradient(to bottom right, #2bd37a, #004d40);
  line-height: 1.5;
  /* background: rgba(0, 0, 0, 0.25); */
}




.firstSection {
  content: "";
  /* position: absolute; */
  width: 100%;
  height: 167px;
  /* top: 168px; */
  /* left: 0; */
  z-index: 1;
  backdrop-filter: blur(2px);
}

.secondSection {
  content: "";
  /* position: absolute; */
  width: 100%;
  /* height: 100%; */
  /* background: #5ae48151; */
  /* background: rgba(241, 241, 244, 0.029); */

  /* top: 0px; */
  /* right: 50px; */
  /* backdrop-filter: blur(1px); */
}

.thirdSection {
  content: "";
  /* position: absolute; */
  width: 100%;
  /* height: 100%; */
  /* background: #5ae48151; */
  /* background: rgba(241, 241, 244, 0.029); */

  /* top: 335px; */
  /* right: 50px; */
}

.footer {
  /* background: linear-gradient(45deg, #3bb75e, #2e8b57); */
  /* background: linear-gradient(-45deg, #000000, #384039, #3b9063, #2bd37a); */
  /* background-color: #232323; */
  background-color: #000000;
  color: white;
  padding: 30px 0;
  text-align: center;
 
  

}


.footerContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  /* flex-wrap: wrap; */
  width: 100vw;
  height: 170px;
  margin: auto;
  padding: 20px;


 
}





.footerSection h3 {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}


.footerSection p {
  font-size: 14px;
  line-height: 1.5;
}




.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection ul li {
  margin: 8px 0;
}

.footerSection ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footerSection ul li a:hover {
  text-decoration: underline;
}

.headContainerBtn, .signUp, .logIn {
  position: relative;
  z-index: 10;
}

.footer button {
  position: relative;
  z-index: 10;
}

/* Fix dots in slider */
.dots-container {
  z-index: 10;
}

.dot {
  position: relative;
  z-index: 15;
}



.thirdSectionContent >h2{
  background: linear-gradient(to bottom right, #f0eee6, #f1b24a);
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.secondSectionContent >h2{
  background: linear-gradient(to bottom right, #f0eee6, #f1b24a);
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.firstSectionContent >h2{
  background: linear-gradient(to bottom right, #f0eee6, #f1b24a);
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}


.btnSec a{
  text-decoration: none;
}



.btnSec a:hover {
  
  text-decoration: none; 
}
